.header {
  background-color: #222;
}
.center {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  color: #fff;
  text-decoration: none;
}
.navlinks {
  color: #aaa;
  text-decoration: none;
}
.navlinks:hover {
  color: #fff;
}
.navbar {
  display: none;
}
.navbarDesktop {
  display: flex;
  gap: 15px;
}
.navLogo {
  background-color: transparent;
  color: white;
  width: 30px;
  height: 30px;
  border: 0;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 768px) {
  .center {
    padding: 20px;
  }
  .logo {
    position: relative;
    z-index: 3;
  }
  .navLogo {
    display: block;
    position: relative;
    z-index: 3;
  }
  .navbarDesktop {
    display: none;
  }
  .navbar {
    display: flex;
    visibility: visible;
    z-index: 2;
    flex-direction: column;
    position: fixed;
    gap: 15px;
    left: 0;
    font-size: 1.5rem;
    padding: 50px 20px 20px;
    background-color: #222;
    height: 100%;
    width: 100%;
  }
}
